.bicycle-box {
  position: relative;
  border: 1px solid #dddfe0;
  border-radius: 2px;
  min-height: 150px;
  margin: 30px 0;

  & > .bicycle-image {
    display: inline-block;
    width: 20%;
    height: 150px;
    background-size: cover;
    @include media-breakpoint-down(lg) {
      width: 40%;
      height: 170px;
    }

    @include media-breakpoint-down(md) {
      width: 40%;
      height: 200px;
    }
  }

  & > .bicycle-content {
    width: 80%;
    float: right;
    padding: 15px;
    @include media-breakpoint-down(lg) {
      width: 60%;
    }
  }
}
