.blank-slate {
  margin: 30px;
}

.slate-image {
  font-size: 6em;
  margin-bottom: 15px;
  color: $gray;
}

.slate-text {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.slate-description {
  color: #818a91;
}
