._capitalize { text-transform: capitalize; }
._upcase { text-transform: uppercase; }
._center { text-align: center; }
._hidden { display: none !important;  }

._wrapper { padding: 2rem; }
._wrapper-sm { padding: 1rem }
._h_wrapper { padding: 30px 0px;}

._m-r { margin-right: 5px; }
._m-r-lg { margin-right: 15px; }
._m-r-xl { margin-right: 25px; }
._m-l { margin-left: 5px; }
._m-l-lg { margin-left: 15px; }
._m-t-lg {margin-top: 15px; }
._m-t-xl {margin-top: 25px; }
._m-b-lg {margin-bottom: 15px; }
._m-b-xl {margin-bottom: 30px; }
._m-t {margin-top: 5px; }
._m-t-md {margin-top: 10px; }

._p-b { padding-bottom: 1.5rem; }

._m-none {margin: 0px !important}
