.app-header {
  padding: 30px 0;
}

.header-tabs {
  & > .header-tab {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 1.15em;
    text-transform: uppercase;
    &.active {
      border-bottom: 2px solid $brand-info;
    }

    a, a:hover { color: #333; text-decoration: none; }
  }
}
