%h3 Edit suggestion #{@suggestion.name}

%section._h_wrapper
  = form_for @suggestion, url: bicycle_suggestion_path(@bicycle, @suggestion) do |f|
    = render 'application/form_errors', form: @suggestion
    = render 'bicycles/form', f: f
